body {
    margin: 0px;
}

.sphere {
    fill: rgba(255,0,0,.5);
}

.country {
    fill: white;
    stroke: black;
    stroke-opacity: 0.1;
}

svg {
    width: 960px;
    height: 500px;
}

.circles {
    fill: blue;
}
.foo {
    fill: brown;
}